<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% if description %}
    <meta name="description" content="{{description}}"/>
  {% endif %}
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
  <link rel="stylesheet" href="/style.css?v={% version %}" type="text/css"/>
  {% block head %}{% endblock %}
  <script src="/js/alpine.js?v={% version %}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body class="container mx-auto">
  <nav className="flex sm:justify-center py-5">
    <a href="/" class="rounded-lg py-8 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900">Home</a>
    <a href="/posts" class="rounded-lg py-8 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900">Posts</a>
  </nav>
  <main>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>
</body>
</html>